<% include partials/header %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="padding-left:200px; padding-right: 300px; padding-top: 20px;">
    <h1 style="padding-bottom: 10px;">SUBMIT DETAILS FOR CHECKOUT</h1>
<form action="/back" method="POST">
    <div class="form-group">
      <label>Enter phone number</label>
      <input type="number" class="form-control"  name="outphone" placeholder="Enter number" required>
    </div>
    <div class="form-group">
        <label>Enter address you visited</label>
        <input type="text" class="form-control"  name="address" placeholder="Enter address" required>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
    <a href="/">Go back</a>
</form>

</div>
<% include partials/footer %>